Options All -Indexes

RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule .* - [F]

LimitRequestBody 10000000

ErrorDocument 404 http://localhost/frontend-auto/?mod=error
ErrorDocument 403 http://localhost/frontend-auto/?mod=error
ErrorDocument 500 http://localhost/frontend-auto/?mod=error

//ErrorDocument 404 https://app.aamotorsla.com/?mod=error
//ErrorDocument 403 https://app.aamotorsla.com/?mod=error
//ErrorDocument 500 https://app.aamotorsla.com/?mod=error